body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    max-width: auto;
    margin: 0 auto;
    padding: 2px;   
}

html{
    scroll-behavior: smooth;
}

/* START NAVIGATION BAR */
#home{
    margin-left: 8px;
    font-weight: bolder;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

nav{
    background: #fff;
    height: 80px;
    display: grid;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-center {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    margin-right: 50px;
}

li a{
    font-weight: 700;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    letter-spacing: 2px;
}

a:hover{
    color: #c0c0c0;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 20px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 4px;
    margin-left: 5px;
}
/* END NAVIGATION BAR */

/* START SECTIONS */
#about,
#drivers,
#trailers,
#contact {
  height: 80vh;
}
#drivers, 
#contact{
  background: hsl(210, 31%, 80%);
}

.title h2 {
    text-align: center;
}

.section {
    padding-bottom: 5rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
/* END SECTIONS */


/* DARK MODE */
.dark,
.dark *{
    background-color: #222;
    color: #e6e6e6;
    border-color: #222;
}
